/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#1d1765;
  --col-02:#faffea;
  --col-03:#5252ff;
  --col-04:#e878df;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);

}

/* -- NAVIGATION -- */

nav {
  margin-top: 1rem;
}

/* There was no point in numbering the list, as the headings are self-explanatory and the content can be read in any order. 
   So I created a dot point list instead 
*/ 
nav li{
  font-size: 1rem;
  list-style-type: circle;
  padding: 8px;
}

/* I want the visual and interactive elements of the webpage buttons to be similar, 
   so I have the buttons fill on hover. 
*/ 
nav li:hover {
  background-color: var(--col-04);
  color: var(--col-01);
}

/* -- */ 

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;

}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

a{
  color: var(--col-04);
}

.cursor{
  cursor: pointer;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky;
  top: 1rem;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #1d1765;

}

#mode-button:hover{
  
  background-color: #faffea;
  color: #1d1765;
  
}

#topButton{
  color: var(--col-01);
  
}

/* ---- CODE FOR LOADING PAGE ---- */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -- BUTTON -- */

/* A dark border around the link clearly supports the words in indicating that it is a clickable button. */
#load-link{
  line-height: 2rem;
  color: #1d1765;
  background-color: transparent;
  border: 2px solid #1d1765;
}

/* When the user hovers over the button, their action is supported by a number of intuitive ways - based on past digital experiences. 
   The cursor changes into a pointer indicating the ability to click. 
   The button enlarges slightly, making it easier to see as an interaction. 
   The button colour is filled, making it stand out on the webpage. 
*/
#load-link:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #1d1765;
  color: var(--col-02);
}

/* -- THROBBER -- */

  /* the width, height and background-color give it a shape on the page without any content inside - 
  these value are arbitrary, please change to create your own design  */

  /* we also initially set display to none so it only shows once the link is clicked */

#animation-container{
  width: 50%;
  display: none;
  flex-direction: row;
  gap: 1rem;
}

.bouncingLoader{
  height: 40px;
  width: 40px;
  background-color: var(--col-01);
  flex-grow: 1;
  border-radius: 50%;
  animation: loadingAnimation infinite;
}

@keyframes loadingAnimation {
  0% {
    background-color: #1e17657a;
    transform: scale(0);
  }
  /*
  10% {
    transform: scale(0.9);
    position: 100%
  }
  20% {
    transform: scale(0.8);
  }
  25% {
    background-color: #1e1765bd;
  }
  30% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(0.6);
  } */
  50% {
    background-color: var(--col-01);
    transform: scale(1);
  }
 /* 60% {
    transform: scale(0.4);
  }
  70% {
    transform: scale(0.3); 
  }
  75% {
    background-color: #1e17653e; 
  }
  80% {
    transform: scale(0.2);
  }
  90% {
    transform: scale(0.1);
  } */
  100% {
    background-color: #1e17650d;
    transform: scale(0);
  }
}

#bouncing-dot-1{
  animation: loadingAnimation 2s infinite;
}

#bouncing-dot-2{
  animation: loadingAnimation 2s infinite;
  animation-delay: 0.2s;
}

#bouncing-dot-3{
  animation: loadingAnimation 2s infinite;
  animation-delay: 0.4s;
}

#bouncing-dot-4{
  animation: loadingAnimation 2s infinite;
  animation-delay: 0.6s;
}

#bouncing-dot-5{
  animation: loadingAnimation 2s infinite;
  animation-delay: 0.8s;
}

#bouncing-dot-6{
  animation: loadingAnimation 2s infinite;
  animation-delay: 1s;
} 

/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}