/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#3a4c75;
  --col-02:#e2dcc0;
  --col-03:#b9bfc2;

  
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-02);
  color: var(--col-01);
  padding: 2vw;
}

.FilterSection{
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

.FilterBox{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin: 4px 20px;
}

.FilterButton{
  background-color: var(--col-03);
  font-size: 20px;
  color: #303d5b;
  border: none;
  padding: 10px 15px;
  text-align: center;
  margin: 4px 2px;
  margin-left: auto;
  margin-right: auto;
}

hr{
  border: 1px solid var(--col-01)
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/

.RecipeBox{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1vw;
  margin-top: 20px;
  border: 2px solid var(--col-03);
}

.RecipeBoxContainer{
  display: flex;
  flex-wrap: wrap;

}

.IsCentered{
  text-align: center;
  margin: 20px 20px;
}

.RecipeInformation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  margin: 5px;
}

.RecipeLink{
  font-size: 20px;
  color: var(--col-01);
  border: 2px solid var(--col-01);
  background-color: var(--col-02);
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 4px;
  transition-duration: 0.4s;
  width: 150px;
  
}

.RecipeLink:hover{
  background-color: var(--col-01);
  color: var(--col-02);
}

.RecipeName{
  font-size: 50px;
  margin: 5px;

}

.Author{
  font-size: 30px;
  margin: 5px;

}

.RecipeImageContainer{
  text-align: center;

}

.RecipeImg{
  width: 70%;
  margin: 15px;

}

.OtherInformation{
  font-size: 20px;
  text-align: center;
  margin: 15px;
}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{
  font-size: 25px;
}

.SkillLevel{
  font-size: 25px;
}

.Course{

}

.Servings{
  font-size: 25px;
}

.Dietary{

}

.DatePublished{

}

.DateUpdated{
  
}

.SpecialEquipment{

}

